body{
  background-color: rgb(245, 245, 245);
}

.main-body{
  background-color: white;
  overflow: auto;
  padding-bottom: 20px;
  align-items: center;
}
/* Header  */

.navbar-nav{
  padding-right: 30px;
}

.navbar-brand img{
  margin-left: 20px;
}



/* Form Section */

.card-body.btn-sm{
  text-decoration: none;
}

.form-block{
  /* align-items: center; */
  /* max-width: 800px; */
  padding: 20px 0;
}

.form-div{
  /* width: 50%; */
}


/* Change Password */

.change-password-form{
  
}

.change-password-form form {
  padding-bottom: 60px;
}
/* Footer  */

.site-footer{
  text-align: center;
  margin-top: 40px;

}

.footer-copyright{
  text-align: center;
}

.footer-link {
  text-decoration: none;
}



/* Table  */

.table{
  text-align: center;
  background-color: rgba(246, 246, 246, 0.767);
}

.table-body{
  margin: 50px;
  padding-bottom: 30px;
}


.table-head{
  background-color: rgb(202, 19, 19);
  color: white;
}